@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Nanum+Gothic:wght@400;700;800&display=swap');

body { font-family:'Nanum Gothic', '맑은 고딕', Arial, Helvetica, sans-serif; color: #333; overflow-x: hidden; }
ul:after { display:block; content:""; clear:both; }

/**** header ****/
header {}
.util_menu { height:40px; background:#eeeeee; }
.util_menu .inner_util { width:1260px; margin:auto; }
.util_menu .inner_util ul { float:right; }
.util_menu .inner_util li { float:left; }
.util_menu .inner_util li:first-child a {  padding-right: 20px; border-right: 1px solid #d8d7d7; }
.util_menu .inner_util li a { display:block; font-size: 14px; margin-right:20px; line-height:40px; color: inherit; }
.util_menu .inner_util li.util_lastBtn a {width:60px; ; text-indent: -9999px; background: #e9d05f url('../img/pizza-2.png') no-repeat 50% 50%;}

.inner_header { width:1200px; height:100px; margin:auto;}
.inner_header .logo { float:left; width: 139px; height: 59px; margin-top: 20px; background: url(../img/icon_logo.png) no-repeat 0 center; text-indent: -9999px;} 
.inner_header .logo a {display: block; height: 100%;}

.inner_header div { float:left; margin-left:100px; }
.inner_header div > ul  {}
.inner_header div > ul > li  { float:left;  padding: 0 32px; }
.inner_header div > ul > li > a { display: block; margin-top: 40px; color: #666; font-family: Arial; font-size: 16px; font-weight: bold;
transition: 0.3s;}
.inner_header div > ul > li > a:hover {color: #CF661A;}

.inner_header #btnSearch { float:right; }
.inner_header #btnSearch button { all: unset; display: block; width: 30px; height: 100px; text-indent: -9999px; background:url(../img/icon_cart.png) no-repeat 0 center; 
cursor: pointer;}





/**** #mainContents ****/
#mainContents { position: relative; }

#main_slide1 {position: relative; width:100%; height:540px;   }
#main_slide1 > div { position:absolute; left:50%; transform:translate(-50%); width:1900px; height:540px; } 



/* #mainContents MD's PICK */
#md { width:90%; margin:55px auto; }
#md::after {display: block; content:""; width:100%; height:3px; background:rgba(14, 112, 35, 0.2);}
    h2.main_title { font-size:calc(20px + 0.2vw); font-weight: bold;  color:#000; margin-bottom: 35px; text-align:left;  }
    .md_menu {width: 60vw; margin: 20px auto; text-align: center; padding: 15px 25px; font-weight: 700; border-radius: 40px; border: 1px solid #666; box-shadow: 5px 5px 30px #bbbbbb;}
    .md_menu a {color:#000; margin: 0 20px;  }
    .md_menu a:hover {color: #777; border-bottom: 3px solid #247957; transition: 0.2s;}

    .md_prduct {text-align: center;}
    .md_prduct ul {  }
    .md_prduct li { position:relative; float:left;  width:25%; text-align: center; }
    .md_prduct a { display:block; color:inherit;}

    .md_prduct .photo{ margin:50px 15px;  }
    .md_prduct .photo img {width: 16vw;}
    .md_prduct .txt_box { text-align:center; padding:0 20px;height:130px;}

    .md_prduct .txt_box span { display:block; }
    .md_prduct .txt_box span.name { font-size:calc(12px + 0.2vw); margin-bottom:10px; font-weight:800;  }    
    .md_prduct .txt_box span.descript{ font-size:13px; margin-bottom:15px; }
    .md_prduct .txt_box span.price{ display: inline-block; font-size:13px; color:#000; margin: 7px 5px;  font-weight: bold;}
    .md_prduct .txt_box .menu_bt {display: inline-block;  padding: 5px 10px; border-radius: 40px;background:#CD1C1A ;  color: #fff; font-weight: bold; margin: 0 5px;}
    .md_prduct .txt_box .menu_bt:last-child {background: #247957;}


    .md_prduct .quickview { display:none; position:absolute;  top:200px; left:50%; margin-left:-100px; border:0; width:200px; height:40px; font-family:'Aleo', serif; background:#f38200; color:#fff; line-height:40px; }

    .md_prduct a:hover + .quickview { display:block; }
    .md_prduct a:hover .photo img { opacity:0.8 }
    .md_prduct .quickview:hover { display:block;}

    /* #mainContents What'new */
#service { width:70vw;  height: 250px; margin:auto;}
#service .main_title2 { font-size:calc(20px + 0.2vw); font-weight: bold;  color:#000; padding: 20px; text-align:left; }
.service_prduct {}
.service_prduct ul { }
.service_prduct li { display: inline-block; float:left; width:25%; text-align: center;  }
.service_prduct li > a { display: inline-block; width: 80%; padding:1vw 0; border-radius: 40px; background: #fff; box-shadow: 2px 2px 5px gray; box-sizing:border-box;}
.service_prduct .photo {text-align: center;}
.service_prduct .photo img {}
.service_prduct .subject { color: #000; font-weight: bold; padding-top: 60px; }



/* #mainContents - order_area */
#order_area { text-align: center; margin-top:calc(50px + 1vw) }
#order_area img {margin: 0 30px; width: 30vw;}




/* footer */
.inner_footer { margin-top: 150px;}
.footer_img {text-align: center; margin-top: 40px;}
.footer_menu { text-align: center; border-top: 1px solid #707070; border-bottom: 1px solid #707070; padding: 20px 0;}
.footer_menu li {display:inline-block;  margin: 0 15px; }
.footer_menu ul li:last-child a {border:none}
.footer_menu a {font-size:calc(10px + 0.2vw); color: #131313; border-right: 2px solid #707070; padding-right: 30px;}
.footer_menu a:hover {text-decoration: underline;}

.footer_center {position: relative; height: 300px;}
.footer_center h1 {position: absolute; left: 150px; top: 100px; font-size: 1.7vw; }

.footer_address {position: absolute; left: 150px; top: 150px; color: 777; font-size:calc(12px + 0.2vw); line-height: 20px;}

.footer_num {position: absolute; left: 650px; top: 150px; font-size:calc(12px + 0.2vw); text-align: right; line-height: 20px;}
.sns {position: absolute; right: 150px; top: 100px; }
.sns img {margin: 0 5px;}
.sns img:hover {opacity: 0.6;}

.copy {text-align: center; height: 50px; border-top: 1px solid #bbbbbb; border-bottom: 1px solid #bbbbbb;}
.copy p {line-height: 50px; font-weight: bold; font-size: 1.2vw;}
