@media screen and (max-width:1024px){
/**** header ****/
header {position:relative; height:80px; width:100%;}
.util_menu { }
.util_menu .inner_util { width:1023px; margin:auto; }
.util_menu .inner_util li a {   }
.util_menu .inner_util li.util_lastBtn a { display:block; height: 40px; }


.inner_header {   }
.inner_header .logo {margin-left: 40px;}
.inner_header div > ul > li > a {  margin-left: -10px; font-size: 14px; }

#main_slide1 {margin-top: 50px;}



h2.main_title { margin-left: 30px;  }
.md_menu {width: 750px; margin-left:100px; }
.md_prduct li {   width:20%;  }
.md_prduct .photo img {width: 200px; padding-left: 15px;}

.md_prduct .txt_box .menu_bt {   margin: 5px 0 ;}


#service { width: 1024px; height: 350px; margin:0 auto; background: #F1F1F1;  }


#order_area {  margin-top: 100px;  }
#order_area img {margin: 0 30px; width: 400px;}


.inner_footer { margin-top: 150px;}

.footer_menu {  padding: 10px 0;}
.footer_menu li {display: inline-block; margin: 0 15px;  }
.footer_menu a {font-size: 1.5vw; color: #131313; border-right: 2px solid #707070; padding-right: 30px;}
.footer_menu a:hover {text-decoration: underline;}

.footer_center {position: relative; height: 450px;}
.footer_center h1 {position: absolute; left: 120px; top: 180px; }

.footer_address {position: absolute; left: 120px; top: 250px; color: 777; font-size: 1.5vw; line-height: 40px;}

.footer_num {position: absolute; right: 120px; top: 200px; font-size: 1.5vw; text-align: right; line-height: 40px;}
.sns {position: absolute; right: 120px; top: 360px; }
.sns img {width: 30px; height: 30px;}


.copy p {font-size: 1.5vw;}

}



@media screen and (max-width:768px){
    


    header {}
.util_menu { display: none; }


.inner_header .m {display: none;margin: 0 auto;}
.inner_header { width:100%; text-align: center; }
.inner_header .logo {   margin-left: 180px;  margin-top: 20px;  } 
.inner_header .logo a { display: block;  }

.inner_header div { float:left; margin-left:70px; margin-top: 40px; }
.inner_header div > ul > li > a {margin: 0 -10px; font-size: 16px;  padding: 5px 10px;   }



.inner_header #btnSearch button {display: none;}



h2.main_title {display: none;}

#main_slide1 {display: none;   }


#md { width:100%;  }
.md_menu {display: flex; flex-wrap: wrap;  width: 400px; margin: 100px 20px;}
.md_menu a {  width: 33.3%; margin:15px 0;   font-size: 16px;  }

.md_prduct {display: none;}

#service {  width: 100%;  height: 600px; margin-top: -60px;    }
#service .main_title2 {font-size: 20px;}


.service_prduct li { float:left; width:50%; text-align: center; margin: 20px 0;  }


#order_area { text-align: center; margin-top: 40px; }
#order_area img { width: 90%; height: 18vh; margin-top: 10px;}

.inner_footer { margin-top: 50px;}


.footer_menu { border-top: 1px solid #707070; border-bottom: 1px solid #707070; padding: 5px 0;}
.footer_menu li {display: inline-block; margin: 0 5px; }
.footer_menu a {font-size: 1vw; color: #131313; border-right: 2px solid #707070; padding-right: 10px;}


.footer_center {position: relative; height: 350px;}
.footer_center h1 { left: 20px; top: 130px; font-size: 14px; }
.footer_address { left: 20px; top: 170px; color: 777; font-size: 9px; line-height: 20px;}
.footer_num { right: 20px; top: 170px;   line-height: 20px;}


.sns { margin:0 auto; top: 300px; }
.sns img {width: 35px; height: 35px;}
}


